<div class="d-flex justify-content-center">
<h1>Welcome to Customer's Page, @ViewBag.LoginUser.FirstName @ViewBag.LoginUser.LastName </h1>
</div>

<div class="card-deck">
    <div class="card">
        <h4 class="card-title">Customer Name</h4>
    </div>
</div>